@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Poppins&display=swap');
body{
    width: 100%;
    box-sizing: border-box;
    margin: 0;
    margin-bottom: 1000px;
}
.slide{
    max-width: auto;
    height: 300px;
    position: relative;
    border-top: 3px solid #bfd5f8; 
    border-bottom: 3px solid #bfd5f8;
}
.slide1,.slide2,.slide3{
    position: absolute;
    width: 100%;
    height: 100%;
}
.slide1{
    background-color: #0066ff;
    background-size: cover;
    animation: slider 1s infinite;
    -webkit-animation: slider 15s infinite;
}
.slide2{
    background-color: #408afa;
    background-size: cover;
    animation: slider2 1s infinite;
    -webkit-animation: slider2 15s infinite;
}
.slide3{
    background-color: #0066ff;
    background-size: cover;
    animation: slider3 1s infinite;
    -webkit-animation: slider3 15s infinite;
}
h1{
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-top: 110px;
    font-family: 'Poppins', sans-serif;
    /* font-family: 'Pacifico', cursive; */
    text-transform: uppercase;
    font-weight: bolder;
    color: white;
}
@keyframes slider {
    0%{opacity: 1}
    33.333% {opacity: 0}
    66.666% {opacity: 0}
    100% {opacity: 1}
}
@keyframes  slider2 {
    0%{opacity: 0}
    33.333% {opacity: 1}
    66.666% {opacity: 0}
    100% {opacity: 0}
}
@keyframes  slider3 {
    0%{opacity: 0}
    33.333% {opacity: 0}
    66.666% {opacity: 1}
    100% {opacity: 0}
}

.search-box{
    padding: 8px 20px;
    border-radius: 35px;
}
.search-box .search-icon{
    font-size: 1.18rem;
    cursor: pointer;
}
.search-box .search-input{
    transition: .5s;
    width: 0px;
    overflow: hidden;
}
.search-input .input{
    outline: none;
    border: none;
    background-color: unset;
    padding: 8px;
    font-weight: bold;
}
.search-box:hover .search-input{
    width: 200px;
    margin-left: 8px;
}
aside a{
    text-decoration: none;
}
h5{
    color: #7B7671;
}
.content-awal{
    border: 1px solid #0D6EFD;
    margin: 10px;
    height: fit-content;
}
.paragraf{
    text-align: justify;

}
.layanan{
    box-sizing: border-box;
}
.layanan-dua img{
    width: 100px;
}
.paragraf-2{
    letter-spacing: .1px;
    text-align: justify;
}
.detail{
    width: fit-content;
    height: auto;
}
.detail img{
    width: 100px;
}
.aku{
    border: 3px solid black;
}

.panah{
    width: fit-content;
}
.form{
    background-color: #488FFA;
}
.pendaftan input{
    border-radius: 5px;
    margin-bottom: 15px;
    outline: none;
    border: 3px solid #044ebd;
}
.kontener{
    margin: 20px;
}
.garis-history{
    height: 1300px;
    width: 50%;
    background-color: #044ebd;
    margin: 20px auto;
    margin-top: 50px;
    padding: 90px;
}
.garis-history div:nth-child(1) {
    transform: rotate(0deg);
    border-radius: 3px;
}
.garis-history div:nth-child(2) {
    transform: rotate(90deg);
    transform-origin: 0 100%;  
    margin-top: -20px;
    border-radius: 3px;
    
}
.garis-history div:nth-child(3) {
    transform: rotate(0deg);
    margin-top: 290px;
    border-radius: 3px;
}
.garis-history div:nth-child(4) {
    transform: rotate(90deg);
    margin-left: 286px;
    margin-top: 130px;
}
.garis-history div:nth-child(5) {
    transform: rotate(0deg);
    border-radius: 3px;
    margin-top: 129px;

}
.garis-history div:nth-child(6) {
    transform: rotate(90deg);
    transform-origin: 0 100%;
    margin-top: -20px;
}
.garis-history div:nth-child(7) {
    transform: rotate(0deg);
    margin-top: 290px;
    border-radius: 3px;

}
.garis-history div:nth-child(8) {
    transform: rotate(-90deg);
    transform-origin: 100% 0;
    margin-top: -14px;
    margin-left: -15px;
    border-radius: 3px;
}
@media(max-width: 750px) {
    .content-awal{
        width: 100%;
    }
    .container-fluid .form{
        display: block;
        width: 50%;
        margin: auto !important;
    }

    nav .search-box{
        display: none !important;
    }
    .navbar .container{
        display: flex;
        justify-content: space-between !important;
        padding-left: 120px;
    }
    .navbar{
        width: 100%;
    }
    .kontener{
        display: flex !important;
        margin: auto !important;
        flex-direction: column;
        align-items: center;
    }
    .kontener .card{
        margin: 20px 0;
    }
}