/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;;
}    */

.container{
    position: absolute;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: #fff173;
    transition: .5s;
    padding: 20px;
}
.container#blur.active{
    filter: blur(20px);
    pointer-events: none;
    user-select: none;
}
.container .content{
    position: relative;
    max-width: 800px;
}

h2{
    margin-bottom: 15px;
    font-weight: bold;
    color: chocolate;
}
.container .content img{
    display: block;
    max-width: 80%;
    margin: auto;
}
a{
    display: inline-block;
    position: relative;
    padding: 5px 20px;
    margin-top: 10px;
    text-decoration: none;
    color: white;
    background-color: #111;
}
#popup{
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    padding: 50px;
    box-shadow: 0 5px 30px rgba(0, 0, 0, .30);
    background: #fff;
    visibility: hidden;
    opacity: 0;
    transition: .5s;
}
#popup.active{
    top: 50%;
    visibility: visible;
    opacity: 1;
    transition: .5s;
}